body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#__next {
  height: 100%;
}

.ant-card-body {
  padding: 0;
  height: 181px;
}

.ant-card-meta {
  position: absolute;
  width: 250px;
  height: 55px;
  top: 102px;
  left: 24px;
}

.ant-card-meta-detail {
  background: rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 0 5px;
}

.ant-card-meta-detail:hover {
  background: rgba(0,0,0,0.4);
}

.ant-card-meta-title {
  color: #fff;
}

.ant-card-meta-description {
  color: #f0f0f0;
}

.ant-card {
  width: 300px;
  display: inline-block;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}

.ant-upload.ant-upload-drag {
  height: unset !important;
}

.ant-layout-header {
  padding: 0 24px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.logo {
  height: 64px;
  color: #f0f0f0;
  text-shadow: 3px 2px 0 #7A7A7A;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}
